<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.onlineshop.Mapper.AddressMapper">
    <select id="searchByUserId" resultType="string">
        select address
        from Address
        where userId=#{userId}
    </select>
    <update id="changeAddress">
        update Address
        set
        <if test="address!=null and address!=''">address=#{address}</if>
        where userId=#{userId}
    </update>
</mapper>