<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.onlineshop.Mapper.GoodsMapper">
   <!-- 分页查询-->
    <select id="searchByPage" resultType="com.onlineshop.entity.Goods">
        select * from Goods
        limit #{begin},#{end}
    </select>
    <!--分类查询-->
    <select id="searchByType" resultType="com.onlineshop.entity.Goods">
        select * from Goods
        where category=#{type}
        limit #{begin},#{end}
    </select>
    <!--根据名称查,模糊匹配-->
    <select id="searchByName" resultType="com.onlineshop.entity.Goods">
        select * from Goods
        where name like concat('%',#{name},'%')
        limit #{begin},#{end}
    </select>



    <!--新增商品-->
    <insert id="addGoods">
        insert into Goods (goodsId,name,description,price,stock,image,category,createTime,updateTime)
        values (#{goodsId},#{name},#{description},#{price},#{stock},#{image},#{category},#{createTime},#{updateTime})
    </insert>
    <!--删除商品-->
    <delete id="delete">
        delete from Goods
        where goodId=#{goodId}
    </delete>
   <!-- 更新商品信息-->
    <update id="updateGoods">
        update Goods
        set name=#{name},description=#{description},price=#{price},stock=#{stock},image=#{image},category=#{category},createTime=#{createTime},updateTime=#{updateTime}
        where goodsId=#{goodsId}
    </update>
    

    <!--根据ID查询-->
    <select id="details" resultType="com.onlineshop.entity.Goods">
        select * from Goods
        where goodsId=#{goodsId}
    </select>


    <!--下单减少库存-->
    <update id="putOrder" parameterType="boolean">
        update Goods
        set stock=#{stock-1},version=#{newVersion}
        where goodsId=#{goodsId} and version=#{version}
    </update>

</mapper>