<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.onlineshop.Mapper.GoodsMapper">
   <!-- 分页查询-->
    <select id="searchByPage" resultType="com.onlineshop.entity.Goods">
        select * from Goods
        limit #{begin},#{end}
    </select>
    <!--分类查询-->
    <select id="searchByType" resultType="com.onlineshop.entity.Goods">
        select * from Goods
        where category=#{type}
        limit #{begin},#{end}
    </select>
    <!--根据名称查,模糊匹配-->
    <select id="searchByName" resultType="com.onlineshop.entity.Goods">
        select * from Goods
        where name like concat('%',#{name},'%')
        limit #{begin},#{end}
    </select>



    <!--新增商品-->
    <insert id="addGoods">
        insert into Goods (goodsId,name,description,price,stock,image,category,createTime,updateTime,version,productId)
        values (#{goodsId},#{name},#{description},#{price},#{stock},#{image},#{category},#{createTime},#{updateTime},#{version},#{productId})
    </insert>
    <!--删除商品-->
    <delete id="delete">
        delete from Goods
        where goodsId=#{goodsId}
    </delete>
   <!-- 更新商品信息-->
    <update id="updateGoods">
        update Goods
        set
        <if test="name!=null and name!='' "> name=#{name},</if>
        <if test="description!=null and description!= '' ">description=#{description},</if>
        <if test="price!=null">price=#{price},</if>
        <if test="stock!=null">stock=#{stock},</if>
        <if test="image!=null and image!=''">image=#{image},</if>
        <if test="category!=null and category!=''">category=#{category},</if>
        <if test="createTime!=null"> createTime=#{createTime},</if>
        <if test="updateTime!=null">updateTime=#{updateTime}</if>
        where goodsId=#{goodsId}
    </update>
    

    <!--根据ID查询-->
    <select id="details" resultType="com.onlineshop.entity.Goods">
        select * from Goods
        where goodsId=#{goodsId}
    </select>


    <!--下单减少库存-->
    <update id="putOrder" parameterType="boolean">
        update Goods
        set
        <if test="stock!=null">stock=#{stock-1},</if>
        <if test="version!=null and version!=''"> version=#{newVersion}</if>
        where goodsId=#{goodsId} and version=#{version}
    </update>
    <!--根据厂家查商品-->
    <select id="searchByProduct" resultType="com.onlineshop.entity.Goods">
        select * from Goods
        where productId=#{productId}
    </select>
</mapper>