<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.onlineshop.Mapper.PaymentMapper">
    <!--创建待支付-->
    <insert id="createPayment">
        insert into Payment
        (totalMoney,paymentId,orderId,userId,paymentStatus,productId,createTime,updateTime)
        values(#{totalMoney},#{paymentId},#{orderId},#{userId}.#{paymentStatus},#{productId},#{createTime},#{updateTime})
    </insert>
   <!-- 根据订单id删除-->
    <delete id="deleteByOrderId">
        delete from Payment
        where orderId=#{orderId}
    </delete>
    <select id="getDetailsById" resultType="com.onlineshop.entity.Payment">
        select * from Payment
        where paymentId=#{paymentId}
    </select>
    <!--更新状态-->
    <update id="updateStatus">
        update Payment
        set
        <if test="status!=null">status=#{status}</if>
        where paymentId=#{paymentId}
    </update>
    <!--分页查询待支付-->
    <select id="toPayments" resultType="com.onlineshop.entity.Payment">
        select * from Payment
        where userId=#{userId}
    </select>
</mapper>