<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.onlineshop.Mapper.ShopCartMapper">
    <select id="searchByPage" resultType="com.onlineshop.entity.Goods">
        select * from ShopCartGoods
        where userId=#{userId}
    </select>
    <delete id="delete">
        delete from ShopCartGoods
        where goodsId=#{goodsId}
    </delete>
<insert id="add">
    insert into ShopCartGoods(goodsId,name,description,price,stock,image,category,createTime,updateTime,productId,version,userId)
    values (#{goodsId},#{name},#{description},#{price},#{stock},#{image},#{category},#{createTime},#{updateTime},#{productId},#{version},#{userId})
</insert>
</mapper>