<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.onlineshop.Mapper.UserMapper">
    <!--根据用户名查找-->
    <select id="queryByName" resultType="com.onlineshop.entity.User">
        select * from User
        where userName =#{username}
    </select>
   <!-- 根据电话号查找-->
    <select id="queryByPhone" resultType="com.onlineshop.entity.User">
        select * from User
        where phone =#{phone}
    </select>
    <!--根据用户ID查找-->
    <select id="queryByID" resultType="com.onlineshop.entity.User">
        select * from User
        where userId =#{userId}
    </select>
    <!--创建用户-->
    <insert id="createUser">
        insert into User (userId,userName,passWord,isAdmin,phone,createTime,updateTime,nickName)
        values (#{userId},#{userName},#{passWord},#{isAdmin},#{phone},#{createTime},#{updateTime},#{userName})
    </insert>
    <!--更新用户信息-->
    <update id="updateUser">
        update User
        set
        <if test="phone!=null and phone!=''">phone =#{phone},</if>
        <if test="nickName!=null and nickName!=''"> nickName=#{nickName},</if>
        <if test="updateTime!=null">updateTime=#{updateTime}</if>
        where userId =#{userId}
    </update>

</mapper>